.places__text {
	font-size: 18px;
	line-height: 29.34px;
	font-weight: 400;
	color: #fff;
	padding-bottom: 26px;
}

.places__text:last-of-type {
	padding-bottom: 0;
}

@media screen and (max-width: 768px) {
	.places__text {
		font-size: 16px;
		line-height: 26.08px;
	}
}

@media screen and (max-width: 320px) {
	.places__text {
		padding: 0 16px;
	}
}